<div class="modal-footer">
	<button type="button" class="btn btn-primary" id="{{dlgScope}}-btn-ok">{{_ 'Ok'}} </button>
	<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{_ 'Cacnel'}} </button>
</div>