<div class="modal modal-xl" id="grain-security" tabindex="-1" aria-labelledby="grain-security-title" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="grain-security-title">
					<span>Security Options</span>
					<span id="grain-security-mod" class="d-none" aria-hidden="true" title="Modified">*</span>
					<div class="fs-6" id="grain-security-subtitle"></div>
				</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form class="modal-body table-responsive needs-validation" action="#" onsubmit="return false;" novalidate>
				<table id="grain-security-acl" class="table table-bordered table-sm table-striped">
					<caption class="d-none">Access Control List</caption>
					<thead>
						<tr>
							<th scope="col" rowspan="2">
								<div class="btn-group dropend me-2 d-none" id="grain-security-add" aria-hidden="true">
									<button type="button" class="btn btn-sm btn-outline-primary dropdown-toggle bi-plus" title="Add entry" data-bs-toggle="dropdown" aria-expanded="false">
										<span class="d-none" id="grain-security-add-label">Add entry</span>
									</button>
									<ul class="dropdown-menu" aria-labelledby="grain-security-add-label"></ul>
								</div>
								Role
							</th>
							<th colspan="9">Access Control</th>
							<th scope="col" rowspan="2">Iherit</th>
							<th scope="col" rowspan="2">Source</th>
						</tr>
						<tr id="grain-security-aclhead" class="th-rotate">
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</form>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" id="grain-security-btn-ok">Ok</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cacnel</button>
			</div>
		</div>
		<template id="grain-security-tpl-addentry">
			<li><button type="button" class="dropdown-item"></button></li>
		</template>
		<template id="grain-security-tpl-aclhead">
			<th scope="col"><div class="th-content"></div></th>
		</template>
		<template id="grain-security-tpl-aclentry">
			<tr>
				<td class="grain-security-role">
					<button type="button" class="btn btn-sm btn-outline-danger bi-x d-none" title="Delete entry" aria-hidden="true"><span class="d-none">Delete entry</span></button>
					<span class="mb-val"></span>
				</td>
				<td class="grain-security-inherit" title="Inhert to children">
					<div class="form-check d-none" aria-hidden="true">
						<input class="form-check-input" type="checkbox" value="1" id="grain-security-chk-inherit">
						<label class="form-check-label d-none" for="grain-security-chk-inherit">Inhert to children</label>
					</div>
					<span class="mb-val d-none"></span>
				</td>
				<td class="grain-security-source"></td>
			</tr>
		</template>
		<template id="grain-security-tpl-aclflag">
			<td>
				<span class="mb-perm-flag text-primary"><span class="d-none mb-val"></span></span>
				<span class="mb-restr-flag text-danger"><span class="d-none mb-val"></span></span>
			</td>
		</template>
		<template id="grain-security-tpl-aclflag-rw">
			<td class="text-nowrap">
				<span class="mb-perm-flag text-nowrap text-primary">
					<input class="btn-check" type="checkbox" value="" id="grain-security-chk-perm">
					<label class="btn btn-sm btn-outline-primary bi-hand-thumbs-up-fill" for="grain-security-chk-perm" title="Permit"></label>
				</span>
				<span class="mb-restr-flag text-nowrap text-danger">
					<input class="btn-check" type="checkbox" value="" id="grain-security-chk-restr">
					<label class="btn btn-sm btn-outline-danger bi-hand-thumbs-down-fill" for="grain-security-chk-restr" title="Restrict"></label>
				</span>
			</td>
		</template>
	</div>
</div>