<div class="modal fade" id="grain-picker" tabindex="-1" aria-labelledby="grain-picker-title" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="grain-picker-title">
					<span>{{_ 'Select Grain'}} </span>
					<div class="fs-6" id="grain-picker-subtitle"></div>
				</h5>
				<span class="btn-group ms-2 float-end">{{> partials/_ButtonReload dlgScope='grain-picker'}}</span>
				{{> partials/_DialogClose}}
			</div>
			<form class="modal-body needs-validation" action="#" onsubmit="return false;" novalidate>
				<div class="mb-3">
					<nav id="grain-picker-sel"></nav>
				</div>
			</form>
			{{> partials/_DialogFooter dlgScope='grain-picker'}}
		</div>
	</div>
</div>