<div class="modal fade" id="grain-picker" tabindex="-1" aria-labelledby="grain-picker-title" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="grain-picker-title">
					<span>Select Grain</span>
					<div class="fs-6" id="grain-picker-subtitle"></div>
				</h5>
				<span class="btn-group ms-2 float-end"><button class="btn btn-sm btn-outline-secondary bi-arrow-clockwise" id="grain-picker-btn-reload" type="button">Reload</button></span>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form class="modal-body needs-validation" action="#" onsubmit="return false;" novalidate>
				<div class="mb-3">
					<nav id="grain-picker-sel"></nav>
				</div>
			</form>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" id="grain-picker-btn-ok">Ok</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cacnel</button>
			</div>
		</div>
	</div>
</div>
