{{#> partials/_DialogModal dlgScope='input-dlg'}}
{{> partials/_DialogModalHeader dlgScope='input-dlg' dlgTitle=(_ 'Input Request')}}
<form class="modal-body needs-validation" action="#" onsubmit="return false;" novalidate>
	<div class="mb-3">
		<label for="input-dlg-txt" class="form-label">{{_ 'Input'}}</label>
		<input type="text" class="form-control" id="input-dlg-txt" placeholder="Your value" value="" aria-describedby="input-dlg-txt-fb" required>
		<div id="input-dlg-txt-fb" class="invalid-feedback">
			{{_ 'Value is required'}}
		</div>
	</div>
</form>
{{> partials/_DialogFooter dlgScope='input-dlg'}}
{{/partials/_DialogModal}}