<div>
	<div class="dropdown" style="position:absolute;" id="silo-nav-contextdd">
		<button class="btn btn-secondary dropdown-toggle d-none" type="button" id="silo-nav-contextdd-trigger" data-bs-auto-close="*" data-bs-toggle="dropdown" aria-expanded="false">{{_ 'Navi Menu'}}</button>
		<ul class="dropdown-menu multi-level" role="menu" aria-labelledby="silo-nav-contextdd-trigger">
			{{> partials/_SiloNaviButton id='cmdReload' icon='bi-arrow-clockwise'}}
			<li class="dropdown dropend">
				<button class="dropdown-item dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="silo-nav-insertdd-trigger">{{_ 'New'}}</button>
				<ul class="dropdown-menu" aria-labelledby="silo-nav-insertdd-trigger">
					{{> partials/_SiloNaviButton id='cmdNew' icon='text-primary bi-file' iconText='*'}}
					{{> partials/_SiloNaviButton id='cmdNewContainer' icon='text-primary bi-folder2' iconText='*'}}
					{{> partials/_SiloNaviButton id='cmdNewFile' icon='text-primary bi-file-earmark-binary' iconText='*'}}
					{{> partials/_SiloNaviButton id='cmdNewType' icon='text-primary bi-boxes' iconText='*'}}
				</ul>
			</li>
			{{> partials/_SiloNaviButton id='cmdRename' icon='bi-pencil-square'}}
			<li>
				<hr class="dropdown-divider">
			</li>
			{{> partials/_SiloNaviButton id='cmdCut' icon='bi-scissors'}}
			{{> partials/_SiloNaviButton id='cmdCopy' icon='bi-copy'}}
			{{> partials/_SiloNaviButton id='cmdPaste' icon='bi-clipboard'}}
			{{> partials/_SiloNaviButton id='cmdPasteLink' icon='bi-clipboard' iconText='<sup class="bi-link"></sup>'}}
			{{> partials/_SiloNaviButton id='cmdClearCbrd' icon='bi-clipboard-minus'}}
			{{!-- <li><button id="cmdPasteLink" class="dropdown-item" type="button"><span class="bi-clipboard"></span> Paste Link <sup class="bi-link"></sup></button></li> --}}
			<li>
				<hr class="dropdown-divider">
			</li>
			{{> partials/_SiloNaviButton id='cmdDelete' icon='text-danger bi-trash-fill'}}
			{{> partials/_SiloNaviButton id='cmdSecurity' icon='text-danger bi-shield'}}
		</ul>
	</div>
</div>