<div id="silo-tools" class="btn-toolbar col-1 silo-auth d-none" aria-hidden="true">
	<div class="btn-group">
		<button class="btn btn-outline-secondary dropdown-toggle bi-wrench" type="button" data-bs-toggle="dropdown" aria-expanded="false">
			{{_ 'Tools'}}
		</button>
		<ul class="dropdown-menu">
			<li>
				<button id="cmdPackageOut" class="dropdown-item bi-box-arrow-up" type="button" disabled="disabled">
					{{_ 'Export Package'}}
				</button>
			</li>
			<li>
				<button id="cmdPackageIn" class="dropdown-item bi-box-arrow-in-down" type="button" disabled="disabled">
					{{_ 'Import Package'}}
				</button>
			</li>
		</ul>
	</div>
</div>