<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>{{title}} - Authorization Receiver</title>
	{{setupEnv}}
</head>

<body>
	<article id="main" class="container-fluid py-4 px-3 d-flex flex-column vh-100 overflow-hidden">
		<h1></h1>
	</article>
</body>

</html>