<!doctype html>
<html lang="{{locale}}">

<head>
	<meta charset="utf-8">
	<title>{{title}} - Authorization Receiver</title>
	{{setupEnv}}
</head>

<body>
	<article id="main">
		<h1></h1>
	</article>
</body>

</html>